## Ford GoBike System Data
## by (your name here)

## Preliminary Wrangling

In [33]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from datetime import datetime
#import geopy 
#import folium

%matplotlib inline

### Data assessment

In [20]:
df = pd.read_csv('201801-fordgobike-tripdata.csv')

df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94802 entries, 0 to 94801
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   duration_sec             94802 non-null  int64
 1   start_time               94802 non-null  object
 2   end_time                 94802 non-null  object
 3   start_station_id         94802 non-null  int64
 4   start_station_name       94802 non-null  object
 5   start_station_latitude   94802 non-null  float64
 6   start_station_longitude  94802 non-null  float64
 7   end_station_id           94802 non-null  int64
 8   end_station_name         94802 non-null  object
 9   end_station_latitude     94802 non-null  float64
 10  end_station_longitude    94802 non-null  float64
 11  bike_id                  94802 non-null  int64
 12  user_type                94802 non-null  object
 13  bike_share_for_all_trip  94802 non-null  object
dtypes: float64(4), int64(4), object(6)
memory usage: 10.1+ MB

In [22]:
df.bike_share_for_all_trip.unique()

array(['No', 'Yes'], dtype=object)

In [24]:
# check duplication
df.duplicated().sum()

0

In [27]:
# check N/A
df.isna().sum()

duration_sec               0
start_time                 0
end_time                   0
start_station_id           0
start_station_name         0
start_station_latitude     0
start_station_longitude    0
end_station_id             0
end_station_name           0
end_station_latitude       0
end_station_longitude      0
bike_id                    0
user_type                  0
bike_share_for_all_trip    0
dtype: int64

In [15]:
df.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,bike_share_for_all_trip
0,75284,2018-01-31 22:52:35.2390,2018-02-01 19:47:19.8240,120,Mission Dolores Park,37.761420,-122.426435,285,Webster St at O'Farrell St,37.783521,-122.431158,2765,Subscriber,No
1,85422,2018-01-31 16:13:34.3510,2018-02-01 15:57:17.3100,15,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,15,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,2815,Customer,No
2,71576,2018-01-31 14:23:55.8890,2018-02-01 10:16:52.1160,304,Jackson St at 5th St,37.348759,-121.894798,296,5th St at Virginia St,37.325998,-121.877120,3039,Customer,No
3,61076,2018-01-31 14:53:23.5620,2018-02-01 07:51:20.5000,75,Market St at Franklin St,37.773793,-122.421239,47,4th St at Harrison St,37.780955,-122.399749,321,Customer,No
4,39966,2018-01-31 19:52:24.6670,2018-02-01 06:58:31.0530,74,Laguna St at Hayes St,37.776435,-122.426244,19,Post St at Kearny St,37.788975,-122.403452,617,Subscriber,No

In [47]:
# import folium
# map1=folium.Map(location=[37.7692,-122.4209],
#                 titles='test',
#                 zoom_start = 12
# )

# df.apply(lambda row:folium.CircleMarker(location=[row["start_lat"], row["start_lng"]]).add_to(map1), axis=1)
# map1.save('index.html')

In [28]:
# drop the columns that are useless in this project

df.drop(['start_station_latitude','start_station_longitude','end_station_latitude',\
        'end_station_longitude','start_station_id','end_station_id'],axis=1,inplace=True)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94802 entries, 0 to 94801
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   duration_sec             94802 non-null  int64
 1   start_time               94802 non-null  object
 2   end_time                 94802 non-null  object
 3   start_station_name       94802 non-null  object
 4   end_station_name         94802 non-null  object
 5   bike_id                  94802 non-null  int64
 6   user_type                94802 non-null  object
 7   bike_share_for_all_trip  94802 non-null  object
dtypes: int64(2), object(6)
memory usage: 5.8+ MB

In [32]:
df.start_time[0]

'2018-01-31 22:52:35.2390'

In [41]:
#df['start_time_new'] = datetime.strptime(df['start_time'].value(),'%m/%d/%y %H:

TypeError: strptime() takes exactly 2 arguments (1 given)

### What is the structure of your dataset?

> This data contains 3,065 unique bikes and 94,802 rides. There are total 12 variables in this dataset, as below:
>>duration, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng,end_lat, end_lng,user_Type and bike_share.     


### What is/are the main feature(s) of interest in your dataset?

> Average Trip duration
> The peak hour of the trips
> Whether member or casual user impacts the above two questions.

### What features in the dataset do you think will help support your investigation into your feature(s) of interest?

> Started_at, ended_at, duration, user_type and bike share.

## Univariate Exploration

> In this section, investigate distributions of individual variables. If
you see unusual points or outliers, take a deeper look to clean things up
and prepare yourself to look at relationships between variables.

> Make sure that, after every plot or related series of plots, that you
include a Markdown cell with comments about what you observed, and what
you plan on investigating next.

### Discuss the distribution(s) of your variable(s) of interest. Were there any unusual points? Did you need to perform any transformations?

> Your answer here!

### Of the features you investigated, were there any unusual distributions? Did you perform any operations on the data to tidy, adjust, or change the form of the data? If so, why did you do this?

> Your answer here!

## Bivariate Exploration

> In this section, investigate relationships between pairs of variables in your
data. Make sure the variables that you cover here have been introduced in some
fashion in the previous section (univariate exploration).

### Talk about some of the relationships you observed in this part of the investigation. How did the feature(s) of interest vary with other features in the dataset?

> Your answer here!

### Did you observe any interesting relationships between the other features (not the main feature(s) of interest)?

> Your answer here!

## Multivariate Exploration

> Create plots of three or more variables to investigate your data even
further. Make sure that your investigations are justified, and follow from
your work in the previous sections.

### Talk about some of the relationships you observed in this part of the investigation. Were there features that strengthened each other in terms of looking at your feature(s) of interest?

> Your answer here!

### Were there any interesting or surprising interactions between features?

> Your answer here!

> At the end of your report, make sure that you export the notebook as an
html file from the `File > Download as... > HTML` menu. Make sure you keep
track of where the exported file goes, so you can put it in the same folder
as this notebook for project submission. Also, make sure you remove all of
the quote-formatted guide notes like this one before you finish your report!